# Python schtuff
__pycache__/
*.py[cod]

# Distribution schtuff
.Python
env/
bin/
build/
dist/
lib/
lib64/
sdist/
var/
logs/

# Installer log schtuff
pip-log.txt
pip-delete-this-directory.txt

# Log stuff
*.log

# Scratchpad schtuff
*.scratch

# Emacs schtuff
*~